API_ID= 123456789
API_HASH= ""
#If the bot is intended for public use, keep the chat ID as 0. Otherwise, add the name of the chat ID to the list.
AUTHORIZED_CHATS=[0]

#Add sudo/owner userids. Seperate by comma for multiple sudo useres
SUDO_USERID= []

#Add Bot Token from botfather.
BOT_TOKEN= ""
